{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Нова модель{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="title">Назва</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Опис</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="body">Інформація</label>
    <input type="file" name="file">
    <input type="submit" value="Зберегти">
  </form>
{% endblock %}
